body {
    color: #3a3a3a;
}

/* banner gafas seguridad*/
.banner {
    background-image: url(/assets/Imagenes/GAFAS_SEGURIDAD_movil/Seguridad_movil_Hombre_casco.png);
    background-size: cover;
    background-position: center;
    padding: 9.1vw 12vw;
    text-align: right;
}

.banner_text_container {
    width: 55vw;
    margin-left: auto;
}

.banner_tittle {
    font-size: 6vw;
    font-weight: bold;
    line-height: 8vw;
    margin-top: 2vw;
    margin-bottom: 4vw;
}

.banner_descripcion {
    font-size: 4vw;
    line-height: 6vw;
}


/* laboratorios */
.laboratorios {
    background-image: url(/assets/Imagenes/GAFAS_SEGURIDAD_movil/Seguridad_movil_fondo_laboratorios.png);
    background-size: cover;
    background-position: center;
    padding: 12vw;
}

.detalle {
    background: rgba(34, 131, 208, 0.12);
    font-size: 3.2vw;
    padding: 6vw;
}

.detalle_azul {
    background-color: #2383d0;
    color: white;
    font-size: 3.6vw;
    padding: 6vw;
}

.lab_icon {
    width: 15vw;
}

.lab_tittle {
    font-weight: 800;
    font-size: 4.4vw;
}

.laboratorios ul {
    margin-bottom: 0;
    padding-left: 4vw;
}

.lab_description_phone_only {
    font-size: 4vw;
    margin-bottom: 6vw;

}

/* recomendaciones */

.recomendaciones_tittle {
    font-weight: 800;
    padding: 0 12vw;
    margin-bottom: 4vw;
    font-size: 4vw;
}

.recomendaciones img {
    width: 100%;
    max-height: 550px;
    object-fit: cover;
}

.rectangulo_azul {
    background-color: #2383d0;
    height: 2.5vw;
    margin-bottom: 0.83vw;
    width: 35%;
}

.recomendaciones_description {
    font-weight: 500;
    font-size: 4vw;
}

.recomendacion_text_bloque_azul_container {
    padding: 0 12vw;
}

/* cristales vienen con */

.cristales {
    padding: 12vw 6vw;
}

.cristales_tittle {
    color: #2383d0;
    font-weight: 800;
    font-size: 4.4vw;
    margin-bottom: 6vw;
}

.cristales_detalle_azul {
    background-color: #2383d0;
    color: white;
    font-size: 3.6vw;
    padding: 6vw 4vw;
    text-align: center;
    font-weight: 500;
}

.blue_block_container {
    gap: 12vw;
}

/* marcas */

.marcas {

    padding: 3.5vh;
}

.marcas img {
    width: 50vw;
}

.marcas_tittle {
    font-size: 1.8rem;
    font-weight: 800;
    line-height: 1.3;
}

.marcas_descripcion {
    font-size: clamp(0.5rem, 4vw, 1.5rem);
    line-height: 1.25;
    font-weight: 500;
}

.marcas_bolle {
    background-image: url(/assets/Imagenes/GAFAS_SEGURIDAD_movil/Seguridad_movil_Bolle_banner.png);
    background-size: cover;
    background-position: center;
}

.marcas_text_container {
    padding-left: 20vw;
}

/* galeria */
.galeria {
    height: 300px;
}

.galeria_img {
    background-position: center;
    background-size: cover;
}

/* muestra lentes bolle*/

.muestra_background_image {
    background-size: cover;
    background-position: center;
    height: 104vw;
}

.muestra_background_image img {
    width: 40vw;
    margin-right: 8vw;
}

.muestra_detalle {
    font-weight: 500;
    font-size: 4vw;
    padding: 6vw 12vw;
}

/* modelo_macro_caracteristicas */
.macro_caracteristicas {
    background-color: #3a3a3a;
    padding: 6vw;
}

.macro_img_mini {
    width: 40vw;
}

.modal_macro_full {
    --bs-modal-width: 60vh;
}

.modelo_macro_name_phone_view {
    font-size: 4vw;
}

/* activex_falcon */
.activex_falcon ul {
    padding-left: 4vw;
}

.muestra_background_image_activex {
    background-size: cover;
    background-position: center;
    height: 125vw;
}

.muestra_background_image_activex img {
    width: 40vw;
    margin-right: 8vw;
}

.activex_falcon_tittle {
    font-size: 5vw;
    font-weight: 600;
    margin: 0;
}

.activex_falcon_tittle_2 {
    font-size: 6vw;
    margin-bottom: 4vw;
    line-height: 6vw;
    font-weight: 800;
}

.muestra_detalle_activex {
    padding: 6vw 12vw;
}

.muestra_lista_activex {
    font-size: 4vw;
}

/* quieres_seguridad */
.quieres_seguridad {
    background-color: #ffd85a;
    color: black;
    padding: 8vw;
}

.tittle_container {
    width: 75vw;
    gap: 4vw;
    margin-bottom: 4vw;
}

.quieres_seguridad_tittle {
    font-size: 5.6vw;
    font-weight: 600;
    line-height: 8vw;
}

.quieres_seguridad_detalle {
    font-weight: 500;
    line-height: 4.8vw;
    font-size: 3.2vw;
    margin-left: 8vw;
}

.rectangulo_blanco {
    background-color: white;
    width: 7vw;
}

@media (min-width: 1200px) {

    /* banner */

    .banner {
        background-image: url(/assets/Imagenes/GAFAS_SEGURIDAD_escritorio/Seguridad_Hombre_casco.png);
        background-size: cover;
        background-position: center;
        padding: 6.6vw 0 3.3vw 0;
    }

    .banner_text_container {
        text-align: start;
        width: 50vw;
        margin-left: auto;
    }

    .banner_tittle {
        font-size: calc(50 * var(--factor-resolution));
        ;
        font-weight: 800;
        line-height: 3.25vw;
        margin-top: 0.4vw;
        margin-bottom: 0.8vw;
    }

    .banner_text_sub_container {
        width: 30vw;
    }

    .banner_descripcion {
        font-size: calc(25 * var(--factor-resolution));
        line-height: 1.3;
        font-weight: 500;
    }

    /* laboratorios */

    .laboratorios {
        padding: 2.5vw 10vw;
    }

    .lab_icon {
        width: 9vw;
    }

    .lab_tittle {
        font-weight: 800;
        font-size: calc(35 * var(--factor-resolution));
    }

    .lab_description {
        font-size: calc(25 * var(--factor-resolution));
        ;
    }

    .lab_text_container {
        width: calc(986 * var(--factor-resolution));
    }

    .laboratorios_logos {
        width: 80%;
    }

    .detalle_container {
        width: calc(673 * var(--factor-resolution));
    }

    .detalle {
        font-size: calc(20 * var(--factor-resolution));
        padding: calc(38 * var(--factor-resolution)) calc(56 * var(--factor-resolution));
    }

    .detalle_azul {
        font-size: calc(20 * var(--factor-resolution));
        padding: 1.25vw 3.33vw;
    }

    .laboratorios ul {
        padding-left: 2rem;
    }

    /* recomendaciones */
    .recomendaciones_tittle {
        font-size: calc(35 * var(--factor-resolution));
        padding: 0;
        margin: 3.3vw 0;
    }

    .recomendaciones_container {
        width: 50%;
    }

    .recomendaciones_description {
        font-size: 1.25vw;
    }

    .recomendacion_text_bloque_azul_container {
        margin: 0 6.66vw;
        padding: 0 2.5vw;
    }

    .rectangulo_azul {
        background-color: #2383d0;
        height: 0.52vw;
        margin-bottom: 0.83vw;
        width: 35%;
    }

    /*cristales*/
    .cristales {
        padding: 4.16vw 8.33vw !important;
    }

    .cristales_tittle {
        font-size: calc(35 * var(--factor-resolution));
        ;
        margin-bottom: 2.5vw !important;
    }

    .cristales_2block_container {
        width: 45%;
    }

    .cristales_detalle_azul {
        background-color: #2383d0;
        color: white;
        font-size: calc(20 * var(--factor-resolution));
        padding: 2.5vw;
    }

    .blue_block_container {
        gap: 2.5vw;
        margin-bottom: 1.25vw;
    }

    /* marcas */

    .marcas {
        padding: 5vw 8vw 3vw 0;
    }

    .marcas_bolle {
        background-image: url(/assets/Imagenes/GAFAS_SEGURIDAD_escritorio/Seguridad_Bolle_1.png);
    }

    .marcas_text_container {
        width: 35%;
        margin-left: auto;
        padding-left: 0;
    }

    .marcas img {
        width: 20vw;
    }

    .marcas_pretittle {
        font-size: calc(50 * var(--factor-resolution));
        ;
        font-weight: 500;
        margin: 0;
    }

    .marcas_tittle {
        font-size: calc(50 * var(--factor-resolution));
        ;
    }

    .marcas_descripcion {
        font-size: calc(25 * var(--factor-resolution));
        ;
    }

    /* galeria */
    .galeria {
        height: 928px;
    }

    /* muestras marcas bolle */

    .muestra_bolle_container {
        height: calc(751 * var(--factor-resolution));
    }

    .muestra_background_image {
        height: 100%;
        width: 50%;
    }

    .muestra_detalle {
        font-size: calc(20 * var(--factor-resolution));
        padding: 6.6VW !important;
        width: 50%;

        img {
            width: calc(468 * var(--factor-resolution))
        }
    }

    /* macro_caracteristicas */

    .macro_caracteristicas {
        padding: 4rem 5rem 6rem 8rem !important;
    }

    .macro_img_mini {
        width: 33vw;
    }

    .ver_pdf_btn {
        width: 14vw;
    }

    .modelo_macro_name {
        font-size: 2.5vw;
        margin-bottom: 4.1vw;
    }

    .modelo_macro_text_caracteristicas {
        font-size: 1.6vw;
    }

    .logo_bolle_left_side {
        margin-bottom: 16.6vw;
    }

    /* activex */

    .activex_falcon {
        height: calc(753 * var(--factor-resolution));
        ul {
            padding-left: 0;
        }
    }

    .muestra_background_image_activex {
        width: 50%;
        height: 100%;
    }

    .muestra_detalle_activex {
        padding: calc(70 * var(--factor-resolution)) 5.83vw 4.16vw 5.83vw !important;
        width: 50%;
    }

    .activex_falcon_tittle {
        font-size: calc(50 * var(--factor-resolution));
        font-weight: 600;
        margin: 0;
    }

    .activex_falcon_tittle_2 {
        font-size: calc(50 * var(--factor-resolution));
        margin: 0;
        line-height: 3.33vw;
        font-weight: 800;
    }

    .logo_activex {
        margin: calc(60 * var(--factor-resolution));
    }

    .muestra_lista_activex {
        font-size: calc(20 * var(--factor-resolution));
    }

    /* quieres seguridad */
    .quieres_seguridad {
        padding: 5.83vw 6.66vw !important;
    }

    .tittle_container {
        gap: 2.5vw;
        margin-bottom: 0.8vw;
    }

    .quieres_seguridad_tittle {
        font-size: calc(30 * var(--factor-resolution));
        line-height: 2vw;
    }

    .quieres_seguridad_detalle {
        font-size: calc(20 * var(--factor-resolution));
        line-height: 1.66vw;
        margin-left: calc(84 * var(--factor-resolution));
    }

    .rectangulo_blanco {
        width: 1.5vw;
    }
}