/*productos*/
.productos {
    background-size: cover;
    background-position: center;
    padding: calc(36 * var(--factor-resolution)) calc(48 * var(--factor-resolution));
}

.productos_tittle {
    font-size: calc(32 * var(--factor-resolution));
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: calc(8 * var(--factor-resolution));
}

.productos_descripcion {
    font-size: calc(16 * var(--factor-resolution));
    line-height: 1.5;
    margin-bottom: calc(16 * var(--factor-resolution));
}

.productos_gafas_seguridad {
    background-image: url(/assets/Imagenes/HOME_chico/Home_chico_gafas_seguridad.png);
}

.productos_operativos_opticos {
    background-image: url(/assets/Imagenes/HOME_chico/Home_chico_operativos_opticos.png);
}

.productos_lentes_opticos {
    background-image: url(/assets/Imagenes/HOME_chico/Home_chico_lentes_opticos.png);
}

.ver_mas_btn {
    width: calc(120 * var(--factor-resolution));
}


/* características */
.caracteristicas {
    background-color: #ffd85a;
    text-align: center;
    line-height: 1.2;
    padding: calc(48 * var(--factor-resolution));
    font-size: calc(16 * var(--factor-resolution));

    .d-flex {
        margin: calc(16 * var(--factor-resolution)) 0;
        row-gap: calc(48 * var(--factor-resolution));
    }

    img {
        width: calc(80 * var(--factor-resolution));
        height: calc(80 * var(--factor-resolution));
        margin-bottom: calc(24 * var(--factor-resolution));
        color: #3a3a3a;
    }

    p {
        margin: 0;
    }
}

/* Clientes */

.clientes {
    width: 100%;
    padding: calc(48 * var(--factor-resolution)) 0;

    .tittle {
        padding-bottom: calc(16 * var(--factor-resolution));
        font-size: calc(24.8 * var(--factor-resolution));
    }

    img {
        width: 100%;
        padding: calc(16 * var(--factor-resolution));
    }
}

/* beneficios */
.beneficios {
    img {
        width: 100%;
        height: calc(235 * var(--factor-resolution));
        object-fit: cover;
    }

    p {
        font-size: calc(16 * var(--factor-resolution));
    }

    .tittle {
        font-weight: bold;
        font-size: calc(20 * var(--factor-resolution));
    }

    .right_text {
        padding-left: calc(48 * var(--factor-resolution));
        width: 80%;
    }

    .left_text {
        padding-right: calc(48 * var(--factor-resolution));
        width: 80%;
    }

    .d-flex {
        padding: calc(48 * var(--factor-resolution)) 0;
    }
}

.yellow-rectangle {
    background-color: #ffd85a;
    width: calc(40 * var(--factor-resolution));
}


@media (min-width: 1200px) {

    /* productos */

    .productos_gafas_seguridad {
        background-image: url(/assets/Imagenes/HOME_escritorio/Home_gafas_seguridad.png);
    }

    .productos_operativos_opticos {
        background-image: url(/assets/Imagenes/HOME_escritorio/Home_operativos_opticos.png);
    }

    .productos_lentes_opticos {
        background-image: url(/assets/Imagenes/HOME_escritorio/Home_lentes_opticos.png);
    }

    .ver_mas_btn {
        width: calc(192 * var(--factor-resolution));
    }

    .productos {
        padding: calc(32.4 * var(--factor-resolution)) calc(48 * var(--factor-resolution));

        .text_container {
            margin: calc(48 * var(--factor-resolution));
            padding: 0 calc(48 * var(--factor-resolution));
        }
    }

    .productos_tittle {
        font-size: calc(57.5 * var(--factor-resolution));
        margin-bottom: calc(8 * var(--factor-resolution));
    }

    .productos_descripcion {
        font-size: calc(22.7 * var(--factor-resolution));
        margin-bottom: calc(48 * var(--factor-resolution));
    }

    /* caracteristicas */

    .caracteristicas {
        padding: calc(48 * var(--factor-resolution));
        font-size: calc(23 * var(--factor-resolution));

        .d-flex {
            margin: calc(16 * var(--factor-resolution)) 0;
            padding: calc(48 * var(--factor-resolution)) 0;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            column-gap: calc(128 * var(--factor-resolution));
        }
    }

    /* clientes */
    .clientes {
        padding: calc(48 * var(--factor-resolution));

        .tittle {
            padding-top: calc(48 * var(--factor-resolution));
            font-size: calc(32 * var(--factor-resolution));
        }

        img {
            width: 100%;
            padding: calc(16 * var(--factor-resolution));
        }

        
    }

    /* beneficios */
    .beneficios {
        img {
            height: calc(550 * var(--factor-resolution));
        }

        p {
            font-size: calc(20 * var(--factor-resolution));
        }

        .tittle {
            font-size: calc(29 * var(--factor-resolution));
        }

        .right_text {
            padding-left: calc(48 * var(--factor-resolution));
        }

        .left_text {
            padding-right: calc(48 * var(--factor-resolution));
        }

        .d-flex {
            padding: calc(48 * var(--factor-resolution)) 0;
        }
    }

    .yellow-rectangle {
        width: calc(40 * var(--factor-resolution));
    }
}