/* tipografías */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* variables */

:root {
    --mobile-rr: 400;
    --mobile-factor: calc(100vw / var(--mobile-rr));

    --desktop-rr: 1920;
    --desktop-factor: calc(100vw / var(--desktop-rr));

    --factor-resolution: var(--mobile-factor);
}

/* estilos */

body {
    font-family: Montserrat;
    color: #3A3A3A;
}

section {
    scroll-margin-top: calc(0 * var(--factor-resolution));
}


/* navbar */
.navbar-nav {
    font-weight: 600;
    font-size: calc(17.6 * var(--factor-resolution));
    margin-bottom: calc(4 * var(--factor-resolution));
}

.navbar-brand {
    img {
        width: calc(200 * var(--factor-resolution));
    }
}

.navbar-toggler {
    font-size: calc(20 * var(--factor-resolution));
    padding: calc(4 * var(--factor-resolution)) calc(12 * var(--factor-resolution));
}

.nav_social_icon {
    width: calc(50 * var(--factor-resolution));
}


/* contacto */
.contacto {
    background-color: #3a3a3a;
    font-size: calc(19 * var(--factor-resolution));
    padding: calc(64 * var(--factor-resolution)) calc(48 * var(--factor-resolution));

    p {
        margin: 0;
    }

    .contacto_separador {
        border-bottom: calc(2 * var(--factor-resolution)) solid #b39d45;
        margin: calc(24 * var(--factor-resolution)) 0;
    }

    .img_left_side {
        width: calc(40 * var(--factor-resolution));
    }

    .logo_social {
        margin-bottom: calc(48 * var(--factor-resolution));
        gap: calc(24 * var(--factor-resolution));
    }

    .products {
        gap: calc(8 * var(--factor-resolution));
    }

    .contact_info {
        gap: calc(8 * var(--factor-resolution));
    }

    .contact_info_group {
        gap: calc(4 * var(--factor-resolution));
    }

    .whatsapp_chat_icon {
        padding: calc(16 * var(--factor-resolution)) 0;

        img {
            width: calc(50 * var(--factor-resolution));
        }
    }

    .social_media_mobile {
        gap: calc(16 * var(--factor-resolution));

        img {
            width: calc(50 * var(--factor-resolution));
        }
    }
}

.contacto_icons {
    width: calc(25 * var(--factor-resolution));
    margin-right: calc(8 * var(--factor-resolution));
}

.mostaza-rectangle {
    background-color: #b39d45;
    width: calc(5 * var(--factor-resolution));
}

.copyright_text {
    font-size: calc(12 * var(--factor-resolution));
}

.logo_salud_visual_footer {
    width: calc(150 * var(--factor-resolution));
}

/* elementos flotantes */

.whatsapp_chat {
    position: fixed;
    bottom: 2vw;
    right: 2vw;
}

/* hover */
button:hover .ver_mas_btn {
    content: url("/assets/Imagenes/HOME_escritorio/home_boton_ver_mas_hover.png");
}

button:hover .ver_pdf_btn {
    content: url("/assets/Imagenes/GAFAS_SEGURIDAD_escritorio/Seguridad_boton_ver_PDF_hover.png");
}

.nav-link:hover {
    color: #b39d45 !important;
}



/* media queries */

/* extra large */
@media (min-width: 1200px) {

    :root {
        --factor-resolution: var(--desktop-factor);
    }

    section {
        scroll-margin-top: calc(177 * var(--factor-resolution));
    }

    .column-gap-xl-10rem {
        column-gap: 10rem;
    }

    .column-gap-xl-6rem {
        column-gap: 6rem;
    }

    /* contacto */

    .contacto {
        font-size: calc(12.8 * var(--factor-resolution));
        padding: calc(40 * var(--factor-resolution));
        column-gap: calc(96 * var(--factor-resolution));

        .contacto_separador {
            border-bottom: calc(2 * var(--factor-resolution)) solid #b39d45;
            margin: calc(16 * var(--factor-resolution)) 0;
        }

        .img_left_side {
            width: calc(40 * var(--factor-resolution));
        }

        .logo_products_contact {
            column-gap: calc(96 * var(--factor-resolution));
        }

        .logo_social {
            margin-bottom: calc(24 * var(--factor-resolution));
            gap: calc(24 * var(--factor-resolution));
        }

        .products {
            gap: calc(8 * var(--factor-resolution));
        }

        .contact_info {
            gap: calc(8 * var(--factor-resolution));
        }

        .contact_info_group {
            gap: calc(6 * var(--factor-resolution));
        }

        .social_media_desktop {
            gap: calc(8 * var(--factor-resolution));

            img {
                width: calc(40 * var(--factor-resolution));
            }
        }
    }

    .copyright_text {
        font-size: calc(11.2 * var(--factor-resolution));
    }

    .logo_salud_visual_footer {
        width: calc(180 * var(--factor-resolution));
    }

    .contacto_icons {
        width: calc(18 * var(--factor-resolution));
        margin-right: calc(8 * var(--factor-resolution));
    }

    .mostaza-rectangle {
        width: calc(5 * var(--factor-resolution));
    }
}