@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Montserrat;
}

.ver_mas_btn {
    width: 120px;
}

/* navbar */
.navbar-nav {
    font-weight: 600;
    font-size: 1.1rem;
}


/* contacto */
.contacto {
    background-color: #3a3a3a;
    font-size: clamp(0.5rem, 4.8vw, 1.2rem);
}

.contacto_icons {
    width: 25px;
}

.contacto p {
    margin: 0;
}

.contacto_separador {
    border-bottom: 2px solid #b39d45;
}

.img_left_side {
    width: 40px;
}

.mostaza-rectangle {
    background-color: #b39d45;
    width: 5px;
}

.copyright_text {
    font-size: 0.75rem;
}

.logo_salud_visual_footer {
    width: 150px;
}

/* elementos flotantes */

.whatsapp_chat {
    position: fixed;
    bottom: 40px;
    right: 40px;
}

/* hover */
button:hover .ver_mas_btn {
    content: url("/assets/Imagenes/HOME_escritorio/home_boton_ver_mas_hover.png");
}

button:hover .ver_pdf_btn {
    content: url("/assets/Imagenes/GAFAS_SEGURIDAD_escritorio/Seguridad_boton_ver_PDF_hover.png");
}

.nav-link:hover {
    color: #b39d45 !important;
}



/* media queries */

/* extra large */
@media (min-width: 1200px) {

    .column-gap-xl-10rem {
        column-gap: 10rem;
    }

    .column-gap-xl-6rem {
        column-gap: 6rem;
    }

    /* navbar */
    .navbar-nav {
        font-size: clamp(0.1rem, 1vw, 1.1rem);
    }
        /* contacto */

    .contacto {
        font-size: 0.8rem;
    }

    .copyright_text {
        font-size: 0.7rem;
    }

    .logo_salud_visual_footer {
        width: 180px;
    }

    .contacto_icons {
        width: 18px;
    }
}